
 <meta name='turbolinks-visit-control' content='reload'>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      initMap(<%= @hotel.latitude%>, <%= @hotel.longitude%>);
    });
  </script>
<% if @room1.present? %>
<div class="hotel-index border shadow bg-white rounded my-5">
    <div class="card ml-4 my-4" style="width: 20rem">
    
        <% if @room1.image.attached? %>
            <img class="card-img-top" src=" <%= (url_for(@room1.image)) %> " alt="Card image cap">
        <% end %>
    </div>
    <div class="card-body border-right">
        <div class="icon-wrap mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"> <g> <path fill="none" d="M0 0h24v24H0z"/> <path d="M22 11v9h-2v-3H4v3H2V4h2v10h8V7h6a4 4 0 0 1 4 4zM8 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/> </g> </svg> 
            <span class="font-weight-bold text-primary"><%= @room1.roomtype.roomtypename  %></span>
            <span class="mt-1 ml-5 text-primary border rounde shadow border-success p-3"><%= @room1.price %>/- <small> per night </small></span>
        </div>
        <p class="my-3"><%= @room1.roomtype.description %></p> 
    <% if @room1.roomtype.roomtypename == "Luxury Suite" %>
    <div class="icon-wrap d-flex">
        <span class="material-symbols-outlined">wifi</span>
        <span class="pl-1 pb-2 text-primary">Free Wifi</span>

        <span class="pl-3 material-symbols-outlined">pool</span>
        <span class="pl-1 text-primary">Swimming pool</span>

        <span class="pl-3 material-symbols-outlined">kitchen</span>
        <span class="pl-1 text-primary">Kitchen</span>
    </div>
    <% end %>
    
</div>

    <div class="button-contianer p-3">
        <% if logged_in? && current_user.is_admin? %>

        <%= link_to "Edit", edit_room_path(@room1.id), class: 'btn btn-primary mb-3' %>
        <%= link_to "Delete", @room1, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>

        <% else %>
        <%= link_to "Book This Now",new_room_booking_path(@room1.id), class: 'btn btn-primary mb-3'  %>
        <% end %>
    </div>
</div>
<% end %>

<% if @room2.present? %>
<div class="hotel-index border shadow bg-white rounded my-5">
    <div class="card ml-4 my-4" style="width: 20rem">
    
        <% if @room2.image.attached? %>
            <img class="card-img-top" src=" <%= (url_for(@room2.image)) %> " alt="Card image cap">
        <% end %>
    </div>
    <div class="card-body border-right">
        <div class="icon-wrap mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"> <g> <path fill="none" d="M0 0h24v24H0z"/> <path d="M22 11v9h-2v-3H4v3H2V4h2v10h8V7h6a4 4 0 0 1 4 4zM8 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/> </g> </svg> 
            <span class="font-weight-bold text-primary"><%= @room2.roomtype.roomtypename  %></span>
            <span class="mt-1 ml-5 text-primary border rounde shadow border-success p-3"><%= @room2.price %>/- <small> per night </small></span>
        </div>
        <p class="my-3"><%= @room2.roomtype.description %></p> 
    <% if @room2.roomtype.roomtypename == "Deluxe Room" %>
    <div class="icon-wrap d-flex">
        <span class="pl-1 material-symbols-outlined">wifi</span>
        <span class="pl-1 pb-2 text-primary">Free Wifi</span>

        <span class="ml-3 material-symbols-outlined">tv</span>
        <span class="pl-1 text-primary">TV</span>

        <span class="ml-3 material-symbols-outlined">elevator</span>
        <span class="pl-1 text-primary">Elevator</span>
    </div>
    <% end %>
    
</div>

    <div class="button-contianer p-3">
        <% if logged_in? && current_user.is_admin? %>

        <%= link_to "Edit", edit_room_path(@room2.id), class: 'btn btn-primary mb-3' %>
        <%= link_to "Delete", @room2, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>

        <% else %>
        <%= link_to "Book This Now",new_room_booking_path(@room2.id), class: 'btn btn-primary mb-3'  %>
        <% end %>
    </div>
</div>
<% end %>

<% if @room3.present? %>
<div class="hotel-index border shadow bg-white rounded my-5">
    <div class="card ml-4 my-4" style="width: 20rem">
    
        <% if @room3.image.attached? %>
            <img class="card-img-top" src=" <%= (url_for(@room3.image)) %> " alt="Card image cap">
            
        <% end %>
    </div>
    <div class="card-body border-right">
        <div class="icon-wrap mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"> <g> <path fill="none" d="M0 0h24v24H0z"/> <path d="M22 11v9h-2v-3H4v3H2V4h2v10h8V7h6a4 4 0 0 1 4 4zM8 13a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/> </g> </svg> 
            <span class="font-weight-bold text-primary"><%= @room3.roomtype.roomtypename  %></span>
            <span class="mt-1 ml-5 text-primary border rounde shadow border-success p-3"><%= @room3.price %>/- <small> per night </small></span>
        </div>
        <p class="my-3"><%= @room3.roomtype.description %></p> 
    <% if @room3.roomtype.roomtypename == "President Suite" %>
    <div class="icon-wrap d-flex">
        <span class="material-symbols-outlined">wifi</span>
        <span class="pl-1 pb-2 text-primary">Free Wifi</span>

        <span class="pl-3 material-symbols-outlined">pool</span>
        <span class="pl-1 text-primary"> Swimming pool</span>

        <span class="pl-3 material-symbols-outlined">bathtub</span>
        <span class="pl-1 text-primary">Bathtub</span>

        <span class="pl-3 material-symbols-outlined">spa</span>
        <span class="pl-1 text-primary">Spa</span>

        <span class="pl-3 material-symbols-outlined">local_bar</span>
        <span class="pl-1 text-primary">Bar</span>
    </div>
    <% end %>
    
</div>

    <div class="button-contianer p-3">
        <% if logged_in? && current_user.is_admin? %>

        <%= link_to "Edit", edit_room_path(@room3.id), class: 'btn btn-primary mb-3' %>
        <%= link_to "Delete", @room3, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>

        <% else %>
        <%= link_to "Book This Now",new_room_booking_path(@room3.id), class: 'btn btn-primary mb-3'  %>
        <% end %>
    </div>
<% end %>

</div>
</div>
<div id="map" class="my-3" style="width: 58%; height: 250px; position:relative; left: 25rem"></div>

</div>
</div>