<div class="container">

<h3> Greetings from Booking.com </h3>
<p>Hello <%= @booking.user.username %>, </p>
<p> Your booking has been approved. </p>
<p> Please find the details of your booking below: </p>
<p> Hotel Name: <%= @booking.room.hotel.hotelname %> </p>
<p> Room Type: <%= @booking.room.roomtype.roomtypename %> </p>
<p> Check In: <%= @booking.start_date %> </p>
<p> Check Out: <%= @booking.end_date %> </p>
<p> Number of Guests: <%= @booking.guests %> </p>
<p> We hope you have a great stay! </p>
<p> Thank you for choosing Booking.com </p>
</div>